services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.devmachine
    privileged: true
    environment:
      - TESTCONTAINERS_RYUK_DISABLED=true
      - TESTCONTAINERS_HOST_OVERRIDE=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ..:/xyz:cached
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    networks:
      - internal

networks:
  internal:
    driver: bridge
