services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.devmachine
    volumes:
      - ..:/xyz:cached
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    networks:
      - internal

networks:
  internal:
    driver: bridge
